amqp
asgiref
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cron-descriptor
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-celery-beat
django-cors-headers
django-environ
django-timezone-field
djangorestframework
djangorestframework_simplejwt
gunicorn
idna
kombu
oauthlib
pdfkit
pip-system-certs
prompt_toolkit
psycopg2
pycparser
PyJWT
python-crontab
python-dateutil
python3-openid
redis
requests
requests-oauthlib
six
sqlparse
tzdata
urllib3
vine
wcwidth
whitenoise
wrapt

